@import "../../utils";

.choose-region__container {
  animation: fadein 800ms;
  .choose-region__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    .choose-region__single-region {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 28px;
      }
    }
  }
  .button--confirm-region {
    margin-top: 120px;
  }
}
