@import "../../utils";
.answer__result {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  .answer__result__icon {
    padding: 10px;
    border-radius: 50%;
  }
  .answer__result__info {
    min-width: 90%;
    .answer__result__info__line {
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
    }
  }
}

.button--continue {
  position: absolute;
  background-color: $accent;
  border: 1px solid $accent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .answer__result {
    padding: 5px 0;
    width: 95%;
    border: 0 !important;
    h2 {
      margin: 5px 0;
      font-size: 1.4em;
    }
    p {
      font-size: 16px;
    }
    .answer__result__flag {
      width: 30%;
      margin: 5px 0;
    }
    .answer__result__icon {
      width: 20px;
      height: 20px;
    }
  }
  .button--continue {
    right: 20px;
    top: 40px;
  }
}

@media (min-width: 1001px) and (max-width: 1800px) {
  .answer__result {
    padding: 10px 0px;
    width: 60%;
    .answer__result__flag {
      width: 40%;
      margin: 5px 0;
    }
    .answer__result__icon {
      width: 40px;
      height: 40px;
    }
  }
  .button--continue {
    right: 20px;
    top: 20px;
  }
}

@media (min-width: 1801px) {
  .answer__result {
    padding: 40px 10px;
    width: 30%;
  }
  .answer__result__flag {
    width: 60%;
    margin: 20px 0;
  }
  .button--continue {
    right: 10%;
    top: 50%;
    transition: all 200ms linear;
    &:hover {
      filter: brightness(0.75);
    }
  }
}
