@import "../../utils";
.answer__result {
  border-radius: 15px;
  padding: 40px;
  .answer__result__flag {
    width: 30%;
  }
  .answer__result__info__line {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }
}
