@import "../../utils/utils";

.navigation {
  width: 150px;
  height: 100vh;
  background-color: $primary-700;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 20px 0;
  }
  .navigation__logo {
    font-size: 30px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 3px;
      width: 30%;
      background-color: $accent;
    }
  }
}
