$primary-900: #080808;
$primary-800: #121212;
$primary-700: #1c1c1c;
$primary-600: #262626;
$primary-500: #2f2f2f;
$primary-400: #393939;
$primary-300: #434343;
$primary-200: #4d4d4d;
$primary-100: #575757;

$secondary-400: #e0e0e0;
$secondary-300: #eaeaea;
$secondary-200: #f4f4f4;
$secondary-100: #fdfdfd;

$accent: #03fc80;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  width: 100%;
  & > * {
    margin: 20px 0;
  }
}

.button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 300ms linear;
  &:hover {
    filter: brightness(90%);
  }
}

.button--basic {
  width: 200px;
  height: 35px;
  background-color: $accent;
  font-size: 1.2em;
  margin: 0 20px;
}
