@import "../../utils/utils";

@media (max-width: 1000px) {
  .home__container {
    padding: 0 20px;
    .home__precise-description {
      display: none;
    }
    .home__game-choice {
      margin-top: 60px;
    }
  }
}
