$primary-900: #080808;
$primary-800: #121212;
$primary-700: #1c1c1c;
$primary-600: #262626;
$primary-500: #2f2f2f;
$primary-400: #393939;
$primary-300: #434343;
$primary-200: #4d4d4d;
$primary-100: #575757;

$secondary-400: #e0e0e0;
$secondary-300: #eaeaea;
$secondary-200: #f4f4f4;
$secondary-100: #fdfdfd;

$accent: #03fc80;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 200ms linear;
}

.button--basic {
  min-width: 200px;
  min-height: 35px;
  background-color: $accent;
  font-size: 1.1em;
  margin: 0 20px;
  padding: 8px 30px;
  &:hover {
    filter: brightness(80%);
  }
}

.button--answer {
  min-width: 250px;
  min-height: 40px;
  font-size: 1em;
  padding: 8px 30px;
  background-color: transparent;
  color: white;
  border: 2px solid $accent;
  &:hover {
    background-color: $accent;
    color: black;
  }
}

.button--light-border {
  border: 1px solid $accent;
  border-radius: 0;
  padding: 10px 40px;
  &:hover {
    background-color: $accent;
    color: black;
  }
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.answers {
  display: grid;
  margin: 60px 0 20px 0;
}

@media (max-width: 1000px) {
  .answers {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 0;
    width: 95%;
  }
}

@media (min-width: 1001px) {
  .answers {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-700;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-500;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-400;
}

.game__score,
.game__time {
  position: absolute;
  bottom: 30px;
}

.game__score {
  left: 30px;
}

.game__time {
  right: 30px;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border-radius: 10px;
  transition: all 300ms ease-out;
  border: 3px solid $primary-100;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: $accent;
  border-radius: 10px;
  opacity: 1;
  border: 3px solid $accent;
}

@media (min-width: 1001px) {
  .container {
    & > * {
      margin: 30px 0;
    }
  }
}
